// Full page layout, for centering single components.

.l-fullPage {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

// Two Column Layout, responsive.

.l-twoColumn {
  display: flex;
  max-width: 69.375rem;

  @media (max-width: $mobile-breakpoint) {
    flex-direction: column-reverse;
    flex-wrap: wrap;
    max-width: 40.875rem;
    width: 100vw;
    margin: 1rem;
  }
}

.l-twoColumn > * {
  @media (max-width: $mobile-breakpoint) {
    flex-grow: 1;
  }
}

// Layout for Hero Column.

.l-hero {
  padding: 3rem 4rem 0 4.5rem;

  > p {
    padding-right: 5rem;
  }
}

// Layout for nested Supporting items.

.l-supportingContainer {
  display: flex;
  margin-top: 4.5rem;

  > * {
    flex-basis: 100%;
  }

  > h2 {
    margin: 0;
  }

  > p {
    margin: 0.25rem 0 0 0;
  }
}
