@import "config";
@import "footer";

/* Document */
html {
  background-color: $main-background;
}

body {
  margin: 0;
}

.flex-container {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

/* Main Section */

main {
  display: flex;
  max-width: 69.375rem;
  font-family: $inter;
  background-color: $card-background;
  border-radius: 0.5rem;
}

/* Description COlumn */

.desc-column {
  padding: 3rem 4rem 0 4.5rem;
}

.desc-title {
  font-size: 2.25rem;
  color: $main-heading;
}

.accent {
  color: $accent;
}

.desc-content {
  letter-spacing: -0.5px;
  line-height: 1.6;
  color: $main-paragraph;
  padding-right: 5rem;
}

.stat-container {
  display: flex;
  margin-top: 4.5rem;
}

.stat-column {
  flex-basis: 100%;
}

.stat-heading {
  color: $main-heading;
  margin: 0;
}

.stat-content {
  font-family: $lexend-deca;
  font-size: 0.85rem;
  color: $stat-headings;
  margin: 0.25rem 0 0 0;
}

/* Image Column */

.img-column {
  position: relative;
}

.tint {
  background-color: hsl(277, 100%, 30%);
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  z-index: 2;
}

.img {
  z-index: 1;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  width: 540px;
  height: 446px;
}

.img-desktop {
  display: block;
}

.img-mobile {
  display: none;
}
