@media (max-width: 1150px) {
  main {
    flex-direction: column-reverse;
    flex-wrap: wrap;
    max-width: 40.875rem;
    width: 100vw;
    margin: 1rem;
  }

  .column {
    flex-grow: 1;
  }

  .tint {
    border-top-left-radius: 0.5rem;
    border-bottom-right-radius: 0;
  }

  .img {
    border-top-left-radius: 0.5rem;
    border-bottom-right-radius: 0;
    width: 100%;
    height: auto;
    max-width: 654px;
    max-height: 480px;
  }

  .img-desktop {
    display: none;
  }

  .img-mobile {
    display: block;
  }
}
