@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400&display=swap");
* {
  vertical-align: baseline;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
}

.u-colorAccent {
  color: hsl(277deg, 64%, 61%);
}

.u-bumpDown-small {
  margin-top: 0.25rem;
}

.u-bumpDown-large {
  margin-top: 1.5rem;
}

@media (min-width: 1150px) {
  .u-bumpLeft-mobile {
    margin-right: 4rem;
  }
}

body {
  font-family: "Inter", sans-serif;
}

.l-fixedBottom {
  position: absolute;
  text-align: center;
  right: 0;
  left: 0;
  bottom: 1rem;
}
@media (max-width: 1150px) and (max-height: 875px) {
  .l-fixedBottom {
    position: static;
    margin-bottom: 1rem;
  }
}

.l-flexHorizontal {
  display: flex;
}
.l-flexHorizontal > * {
  flex-basis: 100%;
}
.l-flexHorizontal > p {
  margin-top: 0.25rem;
}
@media (min-width: 1150px) {
  .l-flexHorizontal {
    margin-top: 4.5rem;
  }
}
@media (max-width: 1150px) {
  .l-flexHorizontal {
    flex-direction: column;
  }
  .l-flexHorizontal > * {
    margin-top: 2rem;
  }
}

.l-fullPage {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.l-hero {
  padding: 0 4rem 0 4.5rem;
}
.l-hero > p {
  padding-right: 5rem;
}
@media (max-width: 1150px) {
  .l-hero {
    padding: 2rem;
  }
  .l-hero > p {
    padding: 0;
  }
}

.l-img-desktop {
  display: block;
}
@media (max-width: 1150px) {
  .l-img-desktop {
    display: none;
  }
}

.l-img-mobile {
  display: none;
  width: 100%;
  height: auto;
}
@media (max-width: 1150px) {
  .l-img-mobile {
    display: block;
  }
}

.l-twoColumn {
  overflow: hidden;
  display: flex;
  max-width: 69.375rem;
  align-items: center;
  justify-content: left;
}
@media (max-width: 1150px) {
  .l-twoColumn {
    flex-direction: column-reverse;
    align-items: start;
    flex-wrap: wrap;
    max-width: 40.875rem;
    width: 100vw;
    margin: 1.5rem;
  }
}

.card {
  background-color: hsl(244deg, 38%, 16%);
  border-radius: 0.5rem;
}

.contentContainer {
  background-color: hsl(233deg, 47%, 7%);
}

.attribution {
  font-size: 11px;
  color: hsla(0deg, 0%, 100%, 0.75);
}

.attribution a {
  color: hsla(0deg, 0%, 100%, 0.75);
}

.attribution a:hover,
.attribution a:active,
.attribution a:focus {
  color: hsl(277deg, 64%, 61%);
}

.imgTinted {
  background-color: hsl(277deg, 64%, 61%);
}

.imgTinted > * {
  mix-blend-mode: multiply;
  opacity: 0.8;
}

@media (max-width: 1150px) {
  .infoBlock {
    text-align: center;
  }
}
.infoBlock-header {
  color: hsl(0deg, 0%, 100%);
  font-weight: 700;
}
.infoBlock-header--hero {
  font-size: 2.25rem;
}
@media (max-width: 1150px) {
  .infoBlock-header--hero {
    font-size: 1.75rem;
  }
}
.infoBlock-subline {
  color: hsla(0deg, 0%, 100%, 0.75);
}
.infoBlock-subline--hero {
  line-height: 1.6;
  letter-spacing: -0.5px;
}
.infoBlock-subline--supporting {
  font-size: 0.85rem;
  font-family: "Lexend Deca", sans-serif;
}

/*# sourceMappingURL=styles.css.map */
