.infoBlock {
  @media (max-width: $mobile-breakpoint) {
    text-align: center;
  }

  // Contains two elements: A header, and a subline.

  &-header {
    color: $main-heading;
    font-weight: $fontWeight-bold;

    &--hero {
      font-size: $fontSize-large;

      @media (max-width: $mobile-breakpoint) {
        font-size: $fontSize-medium;
      }
    }
  }

  &-subline {
    color: $main-paragraph;

    &--hero {
      line-height: $lineHeight-wide;
      letter-spacing: $letterSpacing-tight;
    }

    &--supporting {
      font-size: $fontSize-small;
      font-family: $sans-secondary;
    }
  }
}
