// Layout for footer.

.l-fixedBottom {
  /* margin-top: auto; */
  position: absolute;
  text-align: center;
  right: 0;
  left: 0;
  bottom: 1rem;

  @media (max-width: $mobile-breakpoint) {
    position: static;
    bottom: auto;
  }
}
