// Two Column Layout, responsive.

.l-twoColumn {
  display: flex;
  max-width: 69.375rem;
  align-items: center;

  @media (max-width: $mobile-breakpoint) {
    flex-direction: column-reverse;
    flex-wrap: wrap;
    max-width: 40.875rem;
    width: 100vw;
    margin: 1rem;
  }
}

.l-twoColumn > * {
  @media (max-width: $mobile-breakpoint) {
    flex-grow: 1;
  }
}
