// Layout for footer.

.l-fixedBottom {
  position: absolute;
  text-align: center;
  right: 0;
  left: 0;
  bottom: 1rem;

  @media (max-width: $mobile-breakpoint) and (max-height: 875px) {
    position: static;
    margin-bottom: 1rem;
  }
}
