/* Image Column */

.img {
  // z-index: 1;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  // width: 540px;
  // height: 446px;
  width: 100%;
  height: auto;

  @media (max-width: $mobile-breakpoint) {
    border-top-left-radius: 0.5rem;
    border-bottom-right-radius: 0;
    // max-width: 654px;
    // max-height: 480px;
  }
}

.l-imgDesktop {
  display: inline-block;

  @media (max-width: $mobile-breakpoint) {
    display: none;
  }
}

.l-imgMobile {
  display: none;

  @media (max-width: $mobile-breakpoint) {
    display: inline-block;
  }
}
